h1, h2, h3, h4, h5, h6, span, p, a {
   color: $color-white;
}
h1 {
   font-size: 5.5rem;
}
h2 {
   font-size: 3.5rem;
}
h3 {
   font-size: 3rem;
}
h4 {
   font-size: 2rem;
}
h5 {
   font-size: 1.8rem;
}
h6 {
   font-size: 1.6rem;
}
p {
   font-size: 1.4rem;
}

