$color-1:rgba(48, 62, 77, 1);
$color-2:rgba(59, 74, 94, 1);

$color-nav-1: #ff4238;

$color-black: #333;
$color-white: #fafafa;

$color-gray-1: #eee;
$color-gray-2: #e7e7e7;
$color-gray-3: #ddd;
$color-gray-4: #ccc;
$color-gray-5: #bbb;
$color-gray-6: #aaa;
$color-gray-7: #777;
$color-gray-8: #666;


$color-ios-blue: #007aff;
$color-ios-purple: #5856d6;
$color-ios-pink: #ff2d55;
$color-ios-orange: #ff9500;
$color-ios-red: #ff3b30;
$color-ios-green: #4cd964;



$font-main: 'Raleway';
$font-secondary: 'Open Sans';


$border-rad-1: 0.4rem;
$gutter-vertical: 3.5rem;


$imac: 1220px;
$desktop: 992px;
$tablet: 768px;
$mobile: 480px;