@mixin center-block($x : 0){
display: block;
margin: $x auto;
}
@mixin row {
    display: block;
    height: auto;
    width: 100%;
    &:after{
        content: "";
        clear: both;
        display: table;
    }

}

@mixin gradient-1($angle: 90deg, $opacity1: .85, $opacity2: 1){
    background-image:linear-gradient($angle, rgba(48, 62, 77, $opacity1), rgba(59, 74, 94, $opacity2));
}

@mixin gradient-2($angle: 90deg, $opacity1: .85, $opacity2: 1){
    background-image:linear-gradient($angle, rgba(56, 56, 56, $opacity1), rgba(56, 56, 56, $opacity2));
}

@mixin flex-mobile ($order: 0){
    @media(max-width: $mobile){
        order: $order;
        flex-basis: 100% !important;
        text-align: center;
        justify-content: center;
     }
}
@mixin hide{
display: none;
}