

// Variables, Mixins, Vendor Packages. 
@import '../../styles/index.scss';
.Logo {
    max-width: 100%;
    @media only screen and (max-width: $mobile){
        max-width: 50%;
        @include center-block(2rem);
    }
   img{
      max-width: 100%;
    }
}