.Dashboard-Item{
    background-color: $color-white;
    width: 15%;
    height: 15rem;
    padding: 1.5rem;
    box-sizing: border-box;
    border-radius: 4px;
    float: left;
    margin-right: 1.5rem;

}