.Logo {
    @include flex-mobile(1);
    flex-basis: 180px;

   img{
        color: $color-white;
        max-width: 100%;
        @media(max-width: $mobile){
            max-width: 145px;
            @include center-block(1.5rem)
        }
    }

}