.nav {
    @include gradient-1(-180deg, .5,.7);
   
    display: flex;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    max-width: 100%;
    padding: 2.5rem;
    color: $color-white;
    box-sizing: border-box;
    top: 0;
    z-index: 999;
    border-bottom: 1px solid rgba(255,255,255,.3);
    @media(max-width: $mobile){
        flex-direction: column;
    }

}