@import '../../../../styles/index.scss';
.Menu-Item {
    display: inline-block;
    margin: 0 1.4rem;
    list-style: none;
    transition: all .2s;
    font-size: 1.6rem;
    @media(max-width: $tablet){
        font-size: 1.8rem;
    }
    &:hover{
        transform: scale(1.3);
        color: $color-nav-1;
        cursor: pointer !important;
    }
    &:active{
        color: $color-nav-1;
    }
}