*{
    margin: 0;
    padding: 0;
}
html {
font-size: 62.5%;
@media(max-width: $mobile){
    font-size: 55%;
}
}
body {
    font-family: $font-main, sans-serif;
    font-size: 1.4rem;
    overflow-x: hidden !important;
    // background-color: $color-black;
}