@import '../../styles/index.scss';
.Main{
    width: 100%;
    // height: 100%;
    top:0;
    position: absolute;
    margin: 0 !important;
    background-size: cover;
    background-repeat: none;
    z-index:2;
    @media(max-width: $mobile){
        min-height: 100%;
        overflow: hidden;
        min-height: 220rem;
    }
    &:after {
        @include gradient-1(135deg, .7, .4);
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index:2;
       
    }
    
} 