
// Variables, Mixins, Vendor Packages. 
@import '../../styles/index.scss';

.Footer{
    @include gradient-1(180deg, .9, .8);
    padding: 1.5rem;
    box-sizing: border-box;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    color: $color-gray-2;
    &__icon{
        width: 3rem;
        float: left;
        img {
            max-width: 100%;
        }
    }
    &__credits{
        float: right;

        margin-right: 2.5rem;
        span {
            position: relative; 
            top: 1rem;
            color: $color-gray-4;
          
        }
    }
}

